body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px;
  width: 100%;
  height: 100vh;
}
.box {
  width: 300px;
  height: 400px;
  background-color: rgba(172, 172, 172, 0.185);
  box-shadow: 0px 0px 50px 25px #797979;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-family: "Courier New", Courier, monospace;
}
